# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
import pandas as pd
cols = ['date','ticker','open','high','low','close','volume']
df = pd.read_csv('sp500hst.txt', names = cols)
df['date'] = pd.to_datetime(df['date'], unit='s')
df

                      date ticker   open     high     low  close  volume
0      1970-08-21 12:47:01      A  25.60  25.6100  25.220  25.55   34758
1      1970-08-21 12:47:04      A  25.64  25.7400  25.330  25.50   22247
2      1970-08-21 12:47:05      A  25.50  25.7000  25.225  25.34   30891
3      1970-08-21 12:47:06      A  25.32  25.6425  25.145  25.48   33334
4      1970-08-21 12:47:07      A  25.50  25.5700  25.230  25.54   70176
...                    ...    ...    ...      ...     ...    ...     ...
122569 1970-08-21 15:33:33    ZMH  51.72  51.9000  51.380  51.44   14561
122570 1970-08-21 15:33:36    ZMH  51.13  51.4700  50.600  51.00   13489
122571 1970-08-21 15:33:37    ZMH  51.14  51.6000  50.890  51.21   20498
122572 1970-08-21 15:33:39    ZMH  51.63  51.6300  50.170  50.22   18259
122573 1970-08-21 15:33:40    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [89]:
import numpy as np
for i in cols[2:]:
    print(f"mean of {i} is: ", np.mean(df[i]))

mean of open is:  42.59545765904678
mean of high is:  43.102243387667855
mean of low is:  42.05446366521448
mean of close is:  42.60186484817335
mean of volume is:  81395.06813843067

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [3]:
df['month'] = pd.DatetimeIndex(df['date']).month
df

,date,ticker,open,high,low,close,volume,month
0,1970-08-21 12:47:01,A,25.60,25.6100,25.220,25.55,34758,8
1,1970-08-21 12:47:04,A,25.64,25.7400,25.330,25.50,22247,8
2,1970-08-21 12:47:05,A,25.50,25.7000,25.225,25.34,30891,8
3,1970-08-21 12:47:06,A,25.32,25.6425,25.145,25.48,33334,8
4,1970-08-21 12:47:07,A,25.50,25.5700,25.230,25.54,70176,8
...,...,...,...,...,...,...,...,...
122569,1970-08-21 15:33:33,ZMH,51.72,51.9000,51.380,51.44,14561,8
122570,1970-08-21 15:33:36,ZMH,51.13,51.4700,50.600,51.00,13489,8
122571,1970-08-21 15:33:37,ZMH,51.14,51.6000,50.890,51.21,20498,8
122572,1970-08-21 15:33:39,ZMH,51.63,51.6300,50.170,50.22,18259,8
122573,1970-08-21 15:33:40,ZMH,50.03,50.5500,49.480,49.82,17792,8

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [112]:
unicount = np.unique(df['ticker'])

ticker_volume = pd.Series([0]*unicount.size, index=unicount)
for i in range(df.shape[0]):
    for j in range(unicount.size):
        if df['ticker'][i]==ticker_volume.index[j]:
            ticker_volume.values[j]+=df['volume'][i]
ticker_volume

A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [135]:
cols = ['date','ticker','open','high','low','close','volume']
df = pd.read_csv('sp500hst.txt', names = cols)
df['company']=''

ticker_data = pd.read_csv("sp_data2.csv", sep=";", names = ['Ticker', 'Name', 'Yield'])

ticker_dict = dict(zip(ticker_data['Ticker'], ticker_data['Name']))

df['company'] = df['ticker'].map(ticker_dict)

df['company'].fillna(df['ticker'], inplace=True)

df

            date ticker   open     high     low  close  volume               company
0       20090821      A  25.60  25.6100  25.220  25.55   34758  Agilent Technologies
1       20090824      A  25.64  25.7400  25.330  25.50   22247  Agilent Technologies
2       20090825      A  25.50  25.7000  25.225  25.34   30891  Agilent Technologies
3       20090826      A  25.32  25.6425  25.145  25.48   33334  Agilent Technologies
4       20090827      A  25.50  25.5700  25.230  25.54   70176  Agilent Technologies
...          ...    ...    ...      ...     ...    ...     ...                   ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561                   ZMH
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489                   ZMH
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498                   ZMH
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259                   ZMH
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792                   ZMH

[122574 rows x 8 columns]

In [20]:
import pandas as pd

cols = ['date','ticker','open','high','low','close','volume']
df = pd.read_csv('sp500hst.txt', names = cols)
df['company']=''

ticker_data = pd.read_csv("sp_data2.csv", sep=";", names = ['Ticker', 'Name', 'Yield'])

ticker_dict = dict(zip(ticker_data['Ticker'], ticker_data['Name']))

# Добавление столбца с расшифровкой названия тикера
df_sp500["ticker_name"] = df_sp500["ticker"].map(ticker_dict)

# # Если для какого-то тикера отсутствует расшифровка, оставить исходное название тикера
df_sp500["ticker_name"].fillna(df_sp500["ticker"], inplace=True)

# # Вывод первых строк таблицы
df_sp500.head()

,date,ticker,open,high,low,close,volume,ticker_name
0,20090821,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies
1,20090824,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies
2,20090825,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies
3,20090826,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies
4,20090827,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
import pandas as pd

recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv", index_col=0)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [3]:
print(f'количество точек данных в recipes: {len(recipes.index)}')
print(f'количество столбцов в recipes: {len(recipes.columns)}')
print(f'типы данных каждого столбца в recipes:\n {recipes.dtypes}\n')
print(f'количество точек данных в recipes: {len(reviews.index)}')
print(f'количество столбцов в recipes: {len(reviews.columns)}')
print(f'типы данных каждого столбца в recipes:\n {reviews.dtypes}')

количество точек данных в recipes: 30000
количество столбцов в recipes: 8
типы данных каждого столбца в recipes:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

количество точек данных в recipes: 126696
количество столбцов в recipes: 5
типы данных каждого столбца в recipes:
 user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [4]:
# Исследование пропусков в таблице
missing_values = recipes.isnull().sum()  # Подсчет пропущенных значений в каждом столбце
missing_rows_percentage = recipes.isnull().any(axis=1).mean() * 100  # Доля строк с пропусками
print(f'для рецептов: {missing_rows_percentage.round()}%')

missing_values = reviews.isnull().sum()  # Подсчет пропущенных значений в каждом столбце
missing_rows_percentage = reviews.isnull().any(axis=1).mean()
print(f'для рецептов: {missing_rows_percentage}%')

для рецептов: 57.0%
для рецептов: 0.00013417945317926376%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [5]:
print(f"среднее время приготовления: {recipes['minutes'].mean().round()}")
print(f"среднее количество ингредиентов: {recipes['n_ingredients'].mean().round()}")
print(f"средний рейтинг: {reviews['rating'].mean().round()}")

среднее время приготовления: 123.0
среднее количество ингредиентов: 9.0
средний рейтинг: 4.0

1.5 Создайте серию из 10 случайных названий рецептов.

In [6]:
import random

for i in range(10):
    print(recipes['name'][random.randint(0,30001)])

savory sage parmesan sables
vanilla powder
maple pork sausage patties
broiled zucchini with herbs
fiesta chicken vegetable quesadillas
chicken under a   brick  with roasted potatoes
chicken divan tonight  chicken tetrazzini next week
balsamic roasted new potatoes
dehydrator granny smith granola
cinnamon crepes with caramel sauce and pecans

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [7]:
# Изменение индекса в таблице reviews
reviews.reset_index(drop=True, inplace=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [8]:
# Вывод информации о рецептах
filtered_recipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
print(filtered_recipes.head())

                                          name      id  minutes  \
28                         quick biscuit bread  302399       20
60               peas  fit for a king or queen  303944       20
90           hawaiian sunrise           mimosa  100837        5
91  tasty dish s   banana pudding in 2 minutes  286484        2
94                          1 minute meatballs   11361       13

    contributor_id   submitted  n_steps  \
28          213909  2008-05-06     11.0
60          213909  2008-05-16      NaN
90           58104  2004-09-29      4.0
91           47892  2008-02-13      NaN
94            4470  2001-09-03      NaN

                                          description  n_ingredients
28  this is a wonderful quick bread to make as an ...            5.0
60  this recipe is so simple and the flavors are s...            5.0
90  pineapple mimosa was changed to hawaiian sunri...            3.0
91  "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94  this is a real short cut for cooks in a hurry....            2.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [9]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [10]:
recipes_till_2010 = recipes[(recipes['submitted'] <= '2011-01-01')]
recipes_till_2010

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [11]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [12]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [13]:
recipes['name_word_count'] = recipes['name'].apply(lambda x: len(x.split()))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [14]:
recipe_count_per_contributor = recipes['contributor_id'].value_counts()
max_contributor = recipe_count_per_contributor.idxmax()
max_contributor

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [15]:
avg_rating_per_recipe = reviews.groupby('recipe_id')['rating'].mean()
recipes_without_reviews = avg_rating_per_recipe.isna()
recipes_without_reviews

recipe_id
48        False
55        False
66        False
91        False
94        False
          ...
536547    False
536610    False
536728    False
536729    False
536747    False
Name: rating, Length: 28100, dtype: bool

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [16]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipe_count_per_year = recipes['submitted'].dt.year.value_counts()
recipe_count_per_year

submitted
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [17]:
df = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id', how='left')
df1 = df.dropna(subset=['review'])
df1 = df1[['id', 'name', 'user_id', 'rating']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126679 entries, 0 to 128595
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       126679 non-null  int64
 1   name     126679 non-null  object
 2   user_id  126679 non-null  float64
 3   rating   126679 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.8+ MB

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [18]:
print(len(df['recipe_id'].unique()))
df2 = df.groupby(['recipe_id', 'name']).size().reset_index(name='review_count')
print(df2.shape)
print(df2[df2['review_count'] == 0])

28101
(28100, 3)
Empty DataFrame
Columns: [recipe_id, name, review_count]
Index: []

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [19]:
df['year'] = df['submitted'].dt.year
rating_by_year = df.groupby('year')['rating'].mean().reset_index()
min_rating_by_year = rating_by_year.loc[rating_by_year['rating'].idxmin()]
min_rating_by_year

year      2017.00
rating       2.75
Name: 18, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [27]:
sorted_recipes = recipes.sort_values(by='name_word_count', ascending=False)
sorted_recipes[['description_length', 'name', 'name_word_count']].to_csv('sorted_recipes.csv', index=False)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [20]:
with pd.ExcelWriter('recipes_and_reviews.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    df2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)