In [8]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3 -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используя список l1 создать список, в котором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [9]:
print([len(x) for x in l1])

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [10]:
print(sum(len(x) > 2 for x in l1)) #решение 1
print(len([x for x in l1 if len(x)>2])) #решение 2

3
3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [11]:
print(sum(key * value for key, value in d4.items()))

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [12]:
{key: value for key, value in d6.items() if key not in d5}

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [13]:
[num * i if isinstance(num, int) else num for i, num in enumerate(l2)]

[0, 4, -4, -9, 0, 55, 12]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [14]:
print([x for x in l2 if x >=0])

[2, 4, 0, 11, 2]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [15]:
[num if num >= 0 else i for i, num in enumerate(l2)]

[2, 4, 2, 3, 0, 11, 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [16]:
def multiply(a, b):
    """
    Функция принимает два числа и возвращает их произведение.

    Args:
    a (int, float): Первое число для умножения.
    b (int, float): Второе число для умножения.

    Returns:
    int, float: Произведение двух чисел.

    Пример использования:
    >>> multiply(7, 5)
    35
    """
    return a * b
print(multiply(7, 5))
print(multiply(2.77, 5)) 
print(multiply(-3.25, 5))

35
13.85
-16.25

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [17]:
def multiply(*args): #задаем функцию с неограниченным кол-вом элементов *
    result = 1 #задаем переменную и приравниваем к единице для корректного умножения
    for num in args: #циклом проходимся по всем элементам в *args
        result *= num #для каждого аргумента num в кортеже args, значение переменной result умножается на это число
    return result #ну и следовательно выводим результат
print(multiply(4, 4, 4)) 
print(multiply(2, 3)) 
print(multiply(5, 6, 7, 8))

64
6
1680

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

In [19]:
a1 = (15, 10, 5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10, 15, 20)
a4a = a4[:3]
a4b = a4[1:]

In [20]:
def multiply(*args): #задаем функцию с неограниченным кол-вом элементов *
    result = 1 #задаем переменную и приравниваем к единице для корректного умножения
    for num in args: #циклом проходимся по всем элементам в *args
        result *= num #для каждого аргумента num в кортеже args, значение переменной result умножается на это число
    return result #ну и следовательно выводим результат

print(multiply(*a1))
print(multiply(*a2))
print(multiply(*a3))
a4a = a4[:3]
a4b = a4[-3:]
print(multiply(*a4a))
print(multiply(*a4b))
print(multiply(*a4a, *a4b))

750
3
3850
750
3000
2250000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [21]:
def multiply(*args): #задаем функцию с неограниченным кол-вом элементов *
    result = 1 #задаем переменную и приравниваем к единице для корректного умножения
    for num in args: #циклом проходимся по всем элементам в *args
        result *= num #для каждого аргумента num в кортеже args, значение переменной result умножается на это число
    return result #ну и следовательно выводим результат
print(multiply(*a1))
print(multiply(*a2))
print(multiply(*a3))
print(multiply(*a4a))
print(multiply(*a4b))
a5 = (2, 2, 2, 2, 2, 2, 2, 2, 2, 2)
print(multiply(*a5))

750
3
3850
750
3000
1024

5.5) Реализовать функции для выполнения четырех арифметических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [22]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Ошибка: деление на ноль"
    return x / y

#задаем целые числа
num1 = 10
num2 = 5

# Выбор пользователем арифметической операции
operation = input("Выберите операцию (+, -, *, /): ")

if operation == '+':
    result = add(num1, num2)
elif operation == '-':
    result = subtract(num1, num2)
elif operation == '*':
    result = multiply(num1, num2)
elif operation == '/':
    result = divide(num1, num2)
else:
    result = "Некорректная операция"

print(f"Результат: {result}")

Выберите операцию (+, -, *, /): +
Результат: 15

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифметическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [23]:
def calc(s):
    s = s.split()
    if s[1] == '+':
        return float(s[0]) + float(s[2])
    elif s[1] == '-':
        return float(s[0]) - float(s[2])
    elif s[1] == '*':
        return float(s[0]) * float(s[2])
    elif s[1] == '/':
        return float(s[0]) / float(s[2])
    elif s[1] == '%':
        return float(s[0]) % float(s[2])
    elif s[1] == '^':
        return float(s[0]) ** float(s[2])

print(calc('13 + 5'))
print(calc('13 - 5'))
print(calc('13 * 5'))
print(calc('13 / 5'))
print(calc('13 % 5'))
print(calc('13 ^ 5'))

18.0
8.0
65.0
2.6
3.0
371293.0

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, любой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [24]:
def car_info(brand='unknown', model='unknown', color='unknown', year=0, mileage=0, number='unknown', price=0):
    print(f"Автомобиль марки: {brand}, модели: {model}, цвета: {color}, {year} года выпуска, с пробегом: {mileage} км, c номерным знаком: {number}, цена: {price} руб.")

c1 = {'brand': 'BMW', 'model': 'X5', 'color': 'белый', 'year': 2006, 'mileage': 215000, 'number': 'X012AM77', 'price': 1115000}
c2 = {'brand': 'Toyota', 'model': 'Camry', 'color': 'черный', 'year': 2010, 'mileage': 150000, 'number': 'В777ОР77', 'price': 800000}

car_info(**c1)
car_info(**c2)

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215000 км, c номерным знаком: X012AM77, цена: 1115000 руб.
Автомобиль марки: Toyota, модели: Camry, цвета: черный, 2010 года выпуска, с пробегом: 150000 км, c номерным знаком: В777ОР77, цена: 800000 руб.

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [25]:
num_dict = {'1': 'один', '2': 'два', '3': 'три', '4': 'четыре', '5': 'пять', '6': 'шесть', '7': 'семь', '8': 'восемь', '9': 'девять', '10': 'десять', '11': 'одиннадцать', '12': 'двенадцать', '13': 'тринадцать', '14': 'четырнадцать', '15': 'пятнадцать', '16': 'шестнадцать', '17': 'семнадцать', '18': 'восемнадцать', '19': 'девятнадцать', '20': 'двадцать', '30': 'тридцать', '40': 'сорок', '50': 'пятьдесят', '60': 'шестьдесят', '70': 'семьдесят', '80': 'восемьдесят', '90': 'девяносто'}

def num_to_text(num):
    num = str(num)
    try:
        return num_dict[num]
    except KeyError:
        num1 = str(int(num) - int(num)%10)
        num2 = str(int(num)%10)
        return num_dict[num1] +' ' + num_dict[num2]

print(num_to_text(69))
print(num_to_text(13))
print(num_to_text(5))
print(num_to_text(32))

шестьдесят девять
тринадцать
пять
тридцать два

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на русском языке в число типа int. Пример: to_int('тридцать три') -> 33

In [26]:
nums_dict = {'один': '1', 'два': '2', 'три': '3', 'четыре': '4', 'пять': '5', 'шесть': '6', 'семь': '7', 'восемь': '8',
             'девять': '9','десять': '10','одиннадцать': '11','двенадцать': '12','тринадцать': '13', 'четырнадцать': '14', 
             'пятнадцать': '15','шестнадцать': '16','семнадцать': '17','восемнадцать': '18','девятнадцать': '19',
             'двадцать': '20','тридцать': '30','сорок': '40','пятьдесят': '50','шестьдесят': '60','семьдесят': '70',
             'восемьдесят': '80','девяносто': '90', 'сто': '100', 'двести': '200', 'триста': '300', 'четыреста': '400', 
             'пятьсот': '500', 'шестьсот': '600', 'семьсот': '700', 'восемьсот': '800', 'девятьсот':'900'}

def text_to_num(st_num):
    st_num = st_num.split()
    res = 0
    for el in st_num:
        res += int(nums_dict[el])
    return res

print(text_to_num('тридцать три'))
print(text_to_num('семь'))
print(text_to_num('пятьсот двадцать пять'))
print(text_to_num('шестьдесят восемь'))
print(text_to_num('сто двадцать пять'))

33
7
525
68
125

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифметическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"

In [38]:
s = 'тринадцать умножить восемьдесят восемь'
dct_1 = {v: k for k, v in enumerate('один два три четыре пять шесть семь восемь девять десять одиннадцать двенадцать тринадцать четырнадцать пятнадцать шестнадцать семнадцать восемнадцать девятнадцать'.split(), 1)}
dct_10 = {v: 10*k for k, v in enumerate(' двадцать тридцать сорок пятьдесят шестьдесят семьдесят восемьдесят девяносто'.split(), 2)}
dct_100 = {v: 100*k for k, v in enumerate('сто двести триста четыреста пятьсот шестьсот семьсот восемьсот девятьсот'.split(), 1)}
dct_1000 = {v: 1000*k for k, v in enumerate('одна тысяча,две тысячи,три тысячи,четыре тысячи,пять тысяч,шесть тысяч,семь тысяч,восемь тысяч,девять тысяч'.split(','), 1)}
dct_ = {'плюс': '+', 'минус': '-', 'умножить': '*'}
 
dct = {**dct_1, **dct_10, **dct_100, **dct_1000, **dct_}
 
d = 0
for elem in s.split():
    if type(dct[elem]) == int:
        d += dct[elem]
    else:
        res = d
        op = dct[elem]
        d = 0
 
if op == '+':
    res += d 
elif op == '-':
    res -= d 
else:
    res *= d 
 
dct_text = {v: k for k, v in dct.items()}
 
txt = []
if res < 0:
    txt.append('минус')
    res *= -1
elif res == 0:
    txt.append('ноль')
 
k = 1000
while k:
    if res > k-1:
        if res > 20:
            txt.append(dct_text[res//k*k])
            res %= k 
        else:
            txt.append(dct_text[res])
            k = 0
    k //= 10
 
print(' '.join(txt))

одна тысяча сто сорок четыре